my_code/*.py

.python_packages
__pycache__
.venv
.vscode/extensions.json
.vscode/launch.json
.vscode/settings.json
.vscode/tasks.json
.funcignore
local.settings.json
EventHubTrigger_Erik_local/*
blob_storage/*.txt
histogram_trigger/sample.dat
sampling_notebooks/.ipynb_checkpoints/*
sampling_notebooks/data13to17Feb2018.csv
sampling_notebooks/time_series_k_means.ipynb
src/jenks/